<a href="#">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="restaurant.ImagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{ restaurant.Name }}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{ restaurant.Rating }}</span>
      <span class="place-info-box-detail">{{ restaurant.Categhory }}</span>
      <span class="place-info-box-detail">{{ restaurant.DeliveryEstimate }}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>