<section class="content-header">
</section>
{{form.value | json}}
<section class="content">
  <section class="invoice">
    <form #form="ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container [validObrigatorio]="true" messageError="Campo obrigatorio e no minimo com 5 caracteres" label="Endereço">
            <input name="address" ngModel type="text" autocomplete="off" required minlength="5" class="form-control" placeholder="Endereço">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container [validObrigatorio]="true" messageError="Obrigatorio e somente numeros" label="Número">
            <input name="number" ngModel type="text" autocomplete="off" pattern="^[0-9]*$" required class="form-control" placeholder="Numero">
          </mt-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <mt-input-container [validObrigatorio]="false" messageError="" label="Complemento">
            <input name="optional" ngModel type="text" autocomplete="off" class="form-control" placeholder="Complemento">
          </mt-input-container>
        </div>
      </div>

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-itens [itens]="cartItens()" (removeItem)="remove($event)" (increasyQty)="increasyQty($event)" (decreasyQty)="decreasyQty($event)"></mt-order-itens>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>
          <div class="form-group">
            <mt-radio [options]="pagamentoOptions" name="pagamentoOptions" ngModel></mt-radio>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:50%">Itens:</th>
                  <td class="text-right">R$ 20,00</td>
                </tr>
                <tr>
                  <th>Frete:</th>
                  <td class="text-right">R$ 8,00</td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td class="text-right">R$ 28,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button [disabled]="!form.valid" class="btn btn-success pull-right">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>